<ion-view title="DiView" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="diView-form3" class="list">
      <label class="item item-input" id="diView-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="list card" id="diView-card214">
      <ion-item class="item-avatar" id="diView-list-item44">
        <img src="img/QfFNFmTlQZq7kUzUSA9d_902984_10202126816705550_1103423578_o.jpg">
        <h2>James Calumpag</h2>
      </ion-item>
      <form id="diView-form1" class="list">
        <ion-toggle toggle-class="toggle-assertive" id="diView-toggle1">Subsribe</ion-toggle>
      </form>
      <div class=" item item-image">
        <img src="img/CXvWhhDgS4i3PlTOqGHQ_healthy-food.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="diView-list-item-container21">
        <div id="diView-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">annyeong</p>
        </div>
        <form id="diView-form2" class="list">
          <label class="item item-input" id="diView-input1">
            <input type="text" placeholder="write a feedback...">
          </label>
        </form>
      </div>
    </div>
    <div class="list card" id="diView-card215">
      <ion-item class="item-avatar" id="diView-list-item46">
        <img src="img/rsI1X9dTyGhkJWEbpYHo_15844402_1644891365524941_8673151014926087490_o.jpg">
        <h2>Nigel Alaras</h2>
      </ion-item>
      <form id="diView-form4" class="list">
        <ion-toggle toggle-class="toggle-assertive" id="diView-toggle2">Subsribe</ion-toggle>
      </form>
      <div class=" item item-image">
        <img src="img/eTbcbPaARMSwEVjAc7yg_f918bc86d7dce2ab97e4862657fd0ce3.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="diView-list-item-container22">
        <div id="diView-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">kebabers</p>
        </div>
        <form id="diView-form5" class="list">
          <label class="item item-input" id="diView-input2">
            <input type="text" placeholder="write a feedback...">
          </label>
        </form>
      </div>
    </div>
    <div class="list card" id="diView-card216">
      <ion-item class="item-avatar" id="diView-list-item47">
        <img src="img/O55li8TqTW6DzJKSJEzi_14581563_1468874843129357_3659960215468412652_n.jpg">
        <h2>JM Doroy</h2>
      </ion-item>
      <form id="diView-form6" class="list">
        <ion-toggle toggle-class="toggle-assertive" id="diView-toggle3">Subsribe</ion-toggle>
      </form>
      <div class=" item item-image">
        <img src="img/gwGNG1DT1ingVHP2DsBe_enhanced-buzz-11676-1435070296-5.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="diView-list-item-container23">
        <div id="diView-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">maraming choices</p>
        </div>
        <form id="diView-form7" class="list">
          <label class="item item-input" id="diView-input3">
            <input type="text" placeholder="write a feedback...">
          </label>
        </form>
      </div>
    </div>
    <div class="list card" id="diView-card217">
      <ion-item class="item-avatar" id="diView-list-item48">
        <img src="img/qToSQVDiRjeowtBcK3tc_13112969_10207664352779985_6171364519192398295_o.jpg">
        <h2>James Ricohermoso</h2>
      </ion-item>
      <form id="diView-form8" class="list">
        <ion-toggle toggle-class="toggle-assertive" id="diView-toggle4">Subsribe</ion-toggle>
      </form>
      <div class=" item item-image">
        <img src="img/KnE4QByzSDavkQhDDVEq_f4c405bf47984f5228abfd035674b80e.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="diView-list-item-container24">
        <div id="diView-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">tilted</p>
        </div>
        <form id="diView-form9" class="list">
          <label class="item item-input" id="diView-input4">
            <input type="text" placeholder="write a feedback...">
          </label>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>