<ion-view title="Explore" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="vm.query">
      </label>
    </div>

    <div class="list card" ng-repeat="mealPlan in vm.recommendations | filter: vm.query">

      <div class="item item-avatar">
        <img src="img/chef.png">
        <h2>{{mealPlan.name}}</h2>
        <p>{{mealPlan.description}}</p>
        <p>{{mealPlan.averageCalories}} cal</p>
        <p>Php {{mealPlan.price}} </p>
      </div>

      <div class="item item-image">
        <img ng-src="{{mealPlan.image}}" alt="Meal">
      </div>
       <button class="item item-icon-right assertive" style="float:right" ng-click="vm.subscribe(mealPlan);">
        <i class="icon ion-play"></i>
      </button>
      <button class="item item-icon-right" style="float:right" ng-click="vm.viewDetails(mealPlan);">
        <i class="icon ion-android-search"></i>
      </button>
    </div>
    
  </ion-content>
</ion-view>