<ion-view title="Messaging" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="messaging-card25">
      <ion-item class="item-avatar" id="messaging-list-item38" href="mailto:">
        <h2>Admin</h2>
      </ion-item>
      <div class="item item-body" id="messaging-list-item-container15">
        <div id="messaging-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Email us for inquiry</p>
        </div>
        <button id="messaging-button9" class="button button-stable  button-block">COMPOSE</button>
      </div>
    </div>
  </ion-content>
</ion-view>