<ion-view title="Profile" id="profile">
    <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Profile" icon="ion-ios-person" ui-sref="profileTabs.profile">
            <ion-nav-view name="profileTabs-profile"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Password" icon="ion-android-lock" ui-sref="profileTabs.password">
            <ion-nav-view name="profileTabs-password"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Vitals" icon="ion-ios-pulse" ui-sref="profileTabs.vitals">
            <ion-nav-view name="profileTabs-vitals"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>