<ion-view title="Profile" id="profile">
  <ion-content padding="true" class="has-header">
    <form>  
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="vm.profile.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="vm.profile.password">
            </label>
            <label class="item item-input">
                <span class="input-label">Height</span>
                <input type="text" ng-model="vm.profile.height" >
            </label>
            <label class="item item-input">
                <span class="input-label">Weight</span>
                <input type="text" ng-model="vm.profile.weight">
            </label>
            <button type="submit" class="button button-positive button-full" ng-click="vm.saveChanges(vm.profile)">Save Changes</button>
        </div>
    </form>
  </ion-content>
</ion-view>