<ion-view title="Settings" id="page10">
  <ion-content padding="true" class="has-header">
    <form>
      <ion-list>
        <ion-item class="item-divider">
          General
        </ion-item>
        <ion-item class="item item-toggle">
          <span class="input-label">Enable Speech to Text Chat Bot</span>
          <label class="toggle">
            <input type="checkbox" ng-model="vm.isTTSEnable" ng-change="vm.enableTTS(vm.isTTSEnable)">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
</ion-view>