<ion-view title="Vitals" id="vitals" >
  <ion-content padding="true">
    <form name="form">  
        <ion-list>
            <ion-item class="item-divider">
                Vital Information

            </ion-item>
            <ion-item>
                <label class="item-input item-select">
                    <span class="input-label">Height(ft)</span>
                    <select id="heightFt" ng-model="vm.data.account.vitals.height.feet" 
                    ng-change="vm.computeBMI()" required>
                        <option ng-repeat="ft in [1,2,3,4,5,6,7,8]">{{ft}}</option>
                    </select>
                </label>
            </ion-item>
             <ion-item>
                <label class="item-input item-select">
                    <span class="input-label">Height(in)</span>
                    <select id="heightInc" ng-model="vm.data.account.vitals.height.inches"
                    ng-change="vm.computeBMI()" required>
                        <option ng-repeat="in in [1,2,3,4,5,6,7,8,9,10,11]">{{in}}</option>
                    </select>
                </label>
            </ion-item>
            <ion-item>
                <label class="item-input">
                    <span class="input-label">Weight(lb)</span>
                    <input id="weight" type="number" ng-model="vm.data.account.vitals.weight" ng-minlength="2" ng-maxlength="3"
                        ng-change="vm.computeBMI()" required>
                </label>
            </ion-item>
            <ion-item>
                <label class="item-input">
                    <span class="input-label">BMI</span>
                    <span class="input-label">{{vm.data.account.vitals.bmi}}</span>
                </label>
            </ion-item>
            <ion-item>
                <label class="item-input">
                    <span class="input-label">Status</span>
                    <span class="input-label">{{vm.data.account.vitals.status}}</span>
                </label>
            </ion-item>
        </ion-list>

        <button type="submit" class="button button-positive button-full" ng-disabled="form.$invalid"
             ng-click="vm.saveChanges(vm.data)">Save Changes</button>
    </form>
  </ion-content>
</ion-view>